<%- include('header'); -%>
    <h1>
        <%= listTitle %>  LIST
    </h1>

    <ul>
        <!-- <li><%= listitems%></li> -->
        <% for(var i=0 ; i<listitems.length ; i++) { %>
            <li>
                <h3>
                    <%= listitems[i] %>
                </h3>
            </li>
            <% } %>
    </ul>


    <form action="/" method="post">
        <input type="text" id="fname" name="list" placeholder="enter today list" autocomplete="off">
        <button type="submit" id="add"  name="List"  value=<%= listTitle %>  ><h3>+</h3></button>
    </form>
    <%- include('footer'); -%>